<form role="form">
    <div class="form-group">
        <label for="inpName">Author Name</label>
        <input id="inpName" type="text" class="form-control" data-bind="value: Name" />
    </div>

    <div class="form-group">
        <label for="inpBirthDate">Birthdate</label>
        <input id="inpBirthDate" type="text" class="form-control" data-bind="value: Birthdate" />
    </div>
    
</form>

<input type="button" id="btnAddAuthor" class="btn btn-primary" value="Add Author" data-bind="click: addAuthor" /> 
